/* Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

/* Icons */
@font-face {
    font-family: 'icon-reservia';
    src: url('../icons/icon-reservia.eot?45135302');
    src: url('../icons/icon-reservia.eot?45135302#iefix') format('embedded-opentype'),
         url('../icons/icon-reservia.woff2?45135302') format('woff2'),
         url('../icons/icon-reservia.woff?45135302') format('woff'),
         url('../icons/icon-reservia.ttf?45135302') format('truetype'),
         url('../icons/icon-reservia.svg?45135302#icon-reservia') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Paramètres généraux */

:root{
    
    /* Couleurs */
    --grey: #F2F2F2;
    --light: #DEEBFF;
    --blue: #0065FC;
    --black: #000;
    --white: #FFF;
    
    /* Espacements */
    --max-width: 1600px;
    --sides: 0px 50px;
    --inner-sides: 50px 40px;
    
    /* Ombre */
    --shadow: #ccc 0px 5px 15px;
}


/* Gestion des icônes */
.icon:before{ font-family: 'icon-reservia'; }

.icon--heart:after { content: '\e800'; }
.icon--star:before { content: '\e801'; }
.icon--search:before { content: '\e802'; }
.icon--location:before { content: '\e803'; }
.icon--dog:after { content: '\e804'; }
.icon--money:after { content: '\f0d6'; }
.icon--info:before { content: '\f129'; }
.icon--child:after { content: '\f1ae'; }
.icon--chart-line:after { content: '\f201'; }

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'raleway';
    font-weight: 400;
    font-size: 16px;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--black);
}

/* HEADER */
.header{
    display: flex;
    justify-content: space-between;
    
    max-width: var(--max-width);
    padding: var(--sides);
    margin: auto;
}

.header__logo{
    display: block;
    height: 35px;
    width: 95px;
    
    margin-top: 50px;

    background: 0px url(../medias/reservia.svg) no-repeat;
}

.top-menu__item{
    display: inline-block;
    margin-left: -4px;
}

.top-menu__item a{
    display: block;
    
    padding: 25px;
    padding-top: 50px;
}

.top-menu__item--sign-in a{
    color: var(--blue);
    font-weight: 700;
}

.top-menu__item:hover a{
    padding-top: 48px;
    border-top: 2px solid var(--blue);
}

.top-menu__item:hover a{
    color: var(--blue);
}

/* TITRE DU SITE */
.catch-line{
    max-width: var(--max-width);
    margin: auto;
    
    margin-top: 40px;
    margin-bottom: 23px;
    padding: var(--sides);
    line-height: 1.5;
}

.catch-line h1{
    font-size: 24px;
}

/* FORMULAIRE */
.formular{
    max-width: var(--max-width);
    margin: auto;
    
    display: flex;
    flex-direction: column;
    padding: var(--sides);
    margin-bottom: 35px;
}

.search-bar{
    display: inline-block;
    position: relative;
    margin-bottom: 30px;
}

.search-bar__label:before{
    display: inline-block;
    background: var(--grey);
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    
    padding: 15px 18px;
    padding-right: 22px;
    margin-top: 2px;
    
    font-size: 20px;
}

.search-bar__label input, .search-bar__label input:focus{
    display: inline-block;
    padding: 17px;
    margin-left: -5px;
    width: 199px;
    
    outline: none;
    border: 0px solid black;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    
    position: absolute;
    top: 2px;
    
    font-family: raleway;
    font-weight: 700;
    font-size: 14px;
}

.search-bar__submit{
    border: 0px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    
    background: var(--blue);
    padding: 18px;
    display: inline-block;
    cursor: pointer;
    
    position: absolute;
    top: 2px;
    left: 245px;
    
    font-family: raleway;
    font-weight: 700;
    font-size: 14px;
    color: white;
}

.search-bar__submit:before{
    display: none;
}

/* Filtres */
.filter{
    display: flex;
    flex-wrap: wrap;
    border: 0px;
    font-weight: 700;
}

.filter__heading{
    float: left;
    margin-top: 16px;
    margin-right: 10px;
}

.filter__option{
    margin-left: 24px;
    margin-bottom: 13px;
    
    border-radius: 25px;
    
    overflow: hidden;
    position: relative;
}

label[data-filter]{
    display: inline-block;
    border: 2px solid var(--grey);
    background: transparent;
    padding: 14px;
    padding-left: 57px;
    border-radius: 30px;
    transition: 0.15s;
}

label[data-filter]:before{
    content: attr(data-filter);
    text-align: center;
    font-size: 16px;
    font-family: raleway;
    color: var(--blue);
    white-space: nowrap;
    
    display: inline-block;
    background: var(--light);
    transition: 0.15s;
    
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 16px 20px;
    margin: -16px;
    margin-right: 0px;
    
    position: absolute;
    right: 0px;
    z-index: 2;
    
    transform: translateX( calc( -100% + -40px) );
}

label[data-filter]:after{
    text-align: center;
    font-size: 18px;
    font-family: icon-reservia;
    color: var(--blue);
    
    display: inline-block;
    background: var(--light);
    transition: 0.15s;
    
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 16px 0px;
    width: 50px;
    margin: -16px;
    margin-left: 0px;
    margin-right: 0px;
    
    position: absolute;
    left: 0px;
}

label[data-filter]:hover:before{
    transform: translateX( calc( -100% + -25px) );
}

label[data-filter]:hover:after{
    left: 10px;
    box-shadow: 0px 0px 15px #aaa
}

.filter__option:active label{
    background: var(--light);
}

label[data-filter]:active:after{
    box-shadow: 0px 0px 20px #aaa;
}

input:checked ~ label[data-filter]:before{
    transform: translateX( -35px );
    color: var(--white);
    background: var(--blue);
}

input:checked ~ label[data-filter]:after{
    left: calc( 100% - 50px );
    color: var(--white);
    background: var(--blue);
}

.filter__option input{
    display: none;
}

/* INFOS */
.infos{
    max-width: var(--max-width);
    margin: auto;
    
    padding: var(--sides);
    margin-bottom: 35px;
}

.infos:before{
    display: inline-block;
    color: var(--blue);
    
    padding: 3px 8.5px;
    margin-right: 12px;
    border: 1px solid var(--grey);
    border-radius: 12px;
    
    font-size: 14px; 
}

/* CONTENU PRINCIPAL */
.content-wrapper{
    max-width: var(--max-width);
    margin: auto;
    padding: var(--sides);
    display: flex;
    flex-wrap: wrap;
}

.content-wrapper>div{
    display: inline-block;
}

.text{
    padding: 0px 11px;
    padding-top: 16px;
    line-height: 1.5;
    flex: auto;
    background: var(--white);
}

.icon--star{
    line-height: 1.5;
    color: var(--grey);
    background: var(--white);
    width: 100%; 
}

.icon--star:before{
    font-family: 'icon-reservia';
    margin-right: 3px;
    color: var(--grey);
}

.icon--star.star--checked:before{
    color: var(--blue);
}

.name, .price span{
    font-weight: 700;
}

.content__sub-title{
    margin-bottom: 30px;
}

.content__sub-title:after{
    font-family: 'icon-reservia';
    float: right;
}

/* HÉBERGEMENTS */
.rooms{
    background-color: var(--grey);
    border-radius: 18px;
    padding: var(--inner-sides);
    padding-top: 45px;
    width: 65%;
}

.rooms-container{
    display: flex;
    flex-wrap: wrap;
    width: calc( 100% + 30px );
    margin-left: -15px;
}

.room-item{
    width: calc( ( 100% - 90px ) / 3 );
    margin: 0px 15px;
    margin-bottom: 40px;
    overflow: hidden;
    
    border-radius: 18px;
    border: 5px solid var(--white);
    box-shadow: var(--shadow);
    
    display: flex;
    flex-direction: column;
}

.room-item__thumbnail{
    height: 120px;
    width: 100%;
    
    border-bottom: 0px;
}

.room-item__thumbnail img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.room-item > .icon--star{
    padding: 0px 11px;
    padding-bottom: 5px;
}

.more{
    display: inline-block;
    margin-top: 17px;
    font-weight: 700;
}

/* POPULAIRES */
.popular{
    background-color: var(--grey);
    border-radius: 18px;
    padding: var(--inner-sides);
    padding-top: 45px;
    padding-bottom: 35px;
    margin-left: 40px;
    width: calc( 35% - 40px );
}

.popular-item{
    display: flex;
    flex-wrap: wrap;
    
    border-radius: 18px;
    border: 5px solid var(--white);
    box-shadow: var(--shadow);
    
    overflow: hidden;
    margin-bottom: 35px;
}

.popular-item:last-of-type{
    margin-bottom: 0px;
}

.popular-item .thumbnail{
    width: 132px;
    height: 144px;
}

.popular-item .thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular-item .text{
    width: calc( 100% - 132px );
    padding-top: 11px;
    padding-left: 20px;
    padding-bottom: 29px;
}

.popular-item > .icon--star{
    padding: 0px;
    padding-left: 20px;
    line-height: 1.5;
    width: calc( 100% - 132px );
    margin-left: 132px;
    margin-top: -29px;
}

/* ACTIVITÉS */
.activities{
    margin-top: 65px;
    margin-bottom: 60px;
    width: 100%;
}

.activities-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0px -20px;
}

.activity-item{
    border-radius: 18px;
    box-shadow: var(--shadow);
    
    overflow: hidden;
    
    width: calc( ( 100% - 160px ) / 4 );
    height: 445px;
    margin: 0px 20px;
    
    display: flex;
    flex-direction: column;
}

.activity-item:nth-of-type(3n+2){
    height: 235px;
}

.activity-item:nth-of-type(3n+3){
    height: 170px;
    align-self: flex-end;
    margin-left: calc( ( -100% + 80px ) / 4 );
}

.activity-item:nth-of-type(3n+5){
    height: 170px;
}

.activity-item:nth-of-type(3n+6){
    height: 235px;
}

.activity-item .name{
    padding: 20px;
    padding-top: 25px;
}

.activity-item__thumbnail{
    flex: auto;
    overflow: hidden;
}

.activity-item__thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* FOOTER */
footer{
    background: var(--grey);
    padding-top: 50px;
    padding-bottom: 55px;
}

.footer__container{
    padding: var(--sides);
    max-width: var(--max-width);
    margin: auto;
}

.footer__sub-container{
    width: calc( ( 100% ) / 3 );
    display: inline-block;
    vertical-align: text-top;
}

.footer__sub-container:not(.footer__sub-container:first-child){
    margin-left: -5px;
}

.footer__sub-title{
    font-weight: 700;
    margin-bottom: 25px;
}

footer ul li:not(li:last-child){
    margin-bottom: 15px;
}

footer ul li a{
    display: inline-block;
    margin: 0px;
}

@media (max-width: 1200px) {

    .popular{
        width: 100%;
        margin-top: 40px;
        margin-left: 0px;
    }
    
    .popular-container{
        overflow-x: scroll;
        margin-left: -15px;
    }
    
    .popular-slider{
        width: 1125px;
    }
    
    .popular-item{
        width: 345px;
        float: left;
        margin: 0px 15px 25px;
    }
    
    .rooms{
        width: 100%;
    }
    
    .activities{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    
    .activity-item{
        width: calc( ( 100% - 80px ) / 2 );
    }
    
    .activity-item:nth-of-type(3n+3){
        margin-left: calc( ( -100% + 40px ) / 2 );
    }
    
    .activity-item:nth-of-type(3n+4){
        order: 1;
        margin-top: 40px;
    }
    
    .activity-item:nth-of-type(3n+5){
        margin-top: 40px;
    }
}

@media (max-width: 850px) {
    
    :root{
        /* Espacements */
        --sides: 0px 30px;
        --inner-sides: 50px 30px;
    }
    
    .header{
        display: flex;
        flex-wrap: wrap;
        padding: var(--sides);
    }
    
    .header__logo{
        margin-top: 30px;
    }
    
    .top-menu{
        width: calc( 100% + 40px );
        margin: 0px -20px;
        margin-top: 20px;
    }

    .top-menu__item{
        display: inline-block;
        width: 50%;
        float: left;
        margin: 0px;
    }

    .top-menu__item a{
        text-align: center;
        padding: 20px 0px;
        width: 100%;
    }
    
    .top-menu__item:hover a{
        padding-top: 20px;
        padding-bottom: 17px;
        border: 0px solid var(--blue);
        border-bottom: 3px solid var(--blue);
    }

    .top-menu__item--sign-in a{
        position: absolute;
        top: 25px;
        right: 30px;
        width: auto;
    }

    .top-menu__item:hover a{
        color: var(--blue);
    }
    
    .rooms{
        padding: var(--inner-sides);
        padding-top: 45px;
    }
    
    .room-item{
        width: calc( ( 100% - 60px ) / 2 );
    }
    
    .popular{
        padding: var(--inner-sides);
        padding-top: 45px;
        padding-bottom: 35px;
    }
    
    .footer__sub-container{
        padding-right: 30px;
    }
}

@media (max-width: 550px) {
    
    /* HEADER */
    
    :root{
        /* Espacements */
        --sides: 0px 20px;
    }
    
    .top-menu__item--sign-in a{
        right: 20px;
    }

    .catch-line{
        margin-bottom: 40px;
    }
    
    .formular{
        margin-bottom: 17px;
    }
    
    .search-bar{
        margin-bottom: 40px;
    }
    
    .search-bar__label input, .search-bar__label input:focus{
        width: calc( 100% - 69px );
        padding-right: 47px;
    }
    
    .search-bar__submit{
        font-size: 0px;
        left: calc( 100% - 52px );
        border-radius: 13px;
    }
    
    .search-bar__submit:before{
        display: block;
        font-size: 14px;
    }
    
    .filter__heading{
        float: none;
        margin: 0px;
        margin-bottom: 20px;
    }
    
    .filter__option{
        margin-left: 0px;
        margin-right: 10px;
    }
    
    .infos{
        margin-bottom: 40px;
    }

    .infos:before{
        float: left;
    }
    
    .content-wrapper{
        padding: 0px;
    }
    
    .popular{
        order: 1;
        width: 100%;
        margin: 0px;
        padding: 45px 20px 35px;
        border-radius: 0px;
    }
    
    .popular-container{
        overflow-x: visible;
        margin-left: 0px;
    }
    
    .popular-slider{
        width: 100%;
    }
    
    .popular-item{
        margin: 0px;
        margin-bottom: 10px;
        width: 100%;
    }
    
    .rooms{
        order: 2;
        width: 100%;
        background: var(--white);
        padding: 45px 20px 35px;
    }
    
    .room-item{
        width: 100%;
        margin-bottom: 10px;
    }
    
    .room-item:last-of-type{
        margin-bottom: 0px;
    }
    
    .more{
        margin-top: 40px;
    }
    
    .activities{
        order: 3;
        width: 100%;
        margin: 0px 20px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    
    .activities-container{
        margin: 0px;
    }
    
    .activity-item, .activity-item:nth-of-type(n){
        width: 100%;
        height: 190px;
        
        order: 0;
        
        margin: 0px;
        margin-bottom: 20px
    }
    
    .activity-item:last-of-type{
        margin-bottom: 0px;
    }
    
    footer{
        padding: 50px 30px;
        padding-top: 0px;
    }
    
    .footer__container{
        padding: 0px;
        margin: 0px;
    }
    
    .footer__sub-container{
        width: 100%;
        margin-top: 50px;
    }
    
    .footer__sub-container:not(.footer__sub-container:first-child){
        margin-left: 0px;
    }
}